In [7]:
import pandas as pd
import random

In [39]:
# 1. [pandas Series] Perform the following tasks with pandas Series:
# a. Create a Series from the list [7, 11, 13, 17].
s=pd.Series([7, 11, 13, 17])
s

0     7
1    11
2    13
3    17
dtype: int64

In [40]:
# b. Create a Series with five elements that are all 100.0.
s1=pd.Series(100,range(5)) #pd.Series([100]*5)
s1

0    100
1    100
2    100
3    100
4    100
dtype: int64

In [41]:
#c Create a Series with 20 elements that are all random numbers in the range 0 to 100.
#Use method describe() to produce the Series’ basic descriptive statistics.
s2=pd.Series(random.randrange(0,100), range(20)) #pd.Series([random.randrange(0,100) for i in range(20)])
s2.describe()

count    20.0
mean     62.0
std       0.0
min      62.0
25%      62.0
50%      62.0
75%      62.0
max      62.0
dtype: float64

In [42]:
# d. Create a Series called temperatures of the floating-point values 98.6, 98.9, 100.2 and
# 97.9. Using the index keyword argument, specify the custom indices 'Julie', 'Charlie',
# 'Sam' and 'Andrea'.
s3=pd.Series([98.6, 98.9, 100.2, 97.9 ], index=['Julie', 'Charlie','Sam', 'Andrea'],name = 'Temperatures')
s3

Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
Name: Temperatures, dtype: float64

In [43]:
# e. Form a dictionary from the names and values in Part (d), then use it to initialize a
# Series.
d3=s3.to_dict()
pd.Series(d3)

Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
dtype: float64

In [59]:
# 2. [pandas DataFrames] Perform the following tasks with pandas DataFrames:
# a. Create a DataFrame named temperatures from a dictionary of three temperature
# readings each for 'Maxine', 'James' and 'Amanda'.
temp={'Maxine': 23,
      'James': 32,
      'Amanda': 7}
df=pd.DataFrame(temp.items(),columns=['name', 'temperature'])
df

     name  temperature
0  Maxine           23
1   James           32
2  Amanda            7

In [64]:
# b. Recreate the DataFrame temperatures in Part (a) with custom indices using the index
# keyword argument and a list containing 'Morning', 'Afternoon’ and 'Evening'.
df=pd.DataFrame(temp.items(),columns=['name', 'temperature'], index=['Morning', 'Afternoon', 'Evening'])
df

             name  temperature
Morning    Maxine           23
Afternoon   James           32
Evening    Amanda            7

In [68]:
# c. Select from temperatures the column of temperature readings for 'Maxine'.
df[df['name']=='Maxine']['temperature']

Morning    23
Name: temperature, dtype: int64

In [70]:
# d. Select from temperatures the row of 'Morning' temperature readings.
df.loc['Morning']

name           Maxine
temperature        23
Name: Morning, dtype: object

In [72]:
# e. Select from temperatures the rows for 'Morning' and 'Evening' temperature
# readings.
df.loc[['Morning', 'Evening']]

           name  temperature
Morning  Maxine           23
Evening  Amanda            7

In [80]:
# f. Select from temperatures the columns of temperature readings for 'Amanda' and
# 'Maxine'.
df[(df['name']=='Maxine') | (df['name']=='Amanda')]['temperature']

Morning    23
Evening     7
Name: temperature, dtype: int64

In [93]:
# g. Select from temperatures the elements for 'Amanda' and 'Maxine' in the 'Morning'
# and 'Afternoon'.
df[(df['name']=='Maxine') | (df['name']=='Amanda')].loc[['Morning', 'Afternoon']] ## not working because 'afternoon' is for james.

           name  temperature
Morning  Maxine           23